      <div class="row">
        <div class="col-md-12">
          <img id="banner" src="../images/beans_better.jpg" alt="">
        </div>
      </div>

        <br><br>

    <footer>Made with <i class="fa fa-heart pink"></i> & <i class="fa fa-coffee pink"></i></footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
    </script>

  </body>
</html>
