<% include partials/header %>

<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="container index">


<div class="row">

    <div class="animated zoomIn col-md-7 col-sm-7">
      <hr>
       <span id="welcome" > Welcome </span>
       <hr>
    </div>
</div>

  <div class="row font">
    <div class="animated fadeInLeft col-md-2 col-sm-2">
      <div class="thumbnail">
        <img id="sign" class="image" src="../images/coffeesign.jpg" alt="">
      </div>
      </div>
    <div class="animated fadeInDown col-md-5 col-sm-5 white-bg">
      <h2>' Running on sunshine and lattes... '</h2>
      <hr>

    </div>
    <div class="animated fadeInUp col-md-6 col-sm-5">
      <div class="thumbnail">
        <img id="black_" class="image" src="../images/black_sheep.jpg" alt="" />
      </div>
    </div>

      <div class="animated fadeInRight col-md-3 col-sm-4 the_only">
        The only intent of this space is to share the love of coffee. Not just the drink, but the embodiment of relaxation, flavor, culture, experience.
        <hr>
        <span id="content">The hunt for the place that makes your soul sigh in contentment.. </span><br>
        <hr>
        You can enjoy browsing our hand-selected cafes that we believe do just that any time, with or without an account...
      </div>
      <div class="animated fadeInLeft col-md-5 col-sm-5 if_you">
        <p>Have you ever walked into a coffee shop and just had to stop right there in the doorway and take it all in?  The smell of roasting espresso beans, the familiar buzz of the milk frother, the shiny metal portafilters, sunlight streaming through the windows onto the minimalistic interior.  Succulents on tables, the buzz of hushed conversation.
        You walk up to the counter, smile as you grasp the handle of the mug in your hands and take your first sip.
        If this resonates with you at all, you have come to the right place</p>
        <br><hr>
        <p>If you wish to add your favorite cafe to our selection, we're always happy to add more coffee-lovers to our midst. </p><br>
      <br><br>
        <span id="home_links">  <a id="cafe_symbol" class="animated fadeInUp a_links" href="/cafes"><i class="fa fa-coffee"></i>'s'</a> <a class="a_links" href="/register">Sign Up</a></span><br>
      </div>

      <div class="animated fadeInRight col-md-7 col-sm-7">
        <div class="thumbnail">
          <img class="image" src="../images/shop.jpg" alt="" >
        </div>
      </div>

  </div>

  <span id="have"><p>'Let's have a latte, darling'</p></span>

</div>

<% include partials/footer %>
