.form_title {
  color: white;
}

.form-style-8{
    z-index: 1;
    position: absolute;
    font-family: 'Poiret One', cursive;
    width: 500px;
    padding: 30px;
    background: #eee4e1;
    margin: 50px auto;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
    letter-spacing: 2px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: white;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    font-family: 'Poiret One', cursive;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #EEE4E1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #EEE4E1;
    box-shadow: inset 0px 1px 0px 0px #EEE4E1;
    border: 1px solid #EEE4E1;
    display: inline-block;
    cursor: pointer;
    color: #eee4e1;
    font-family: 'Poiret One', cursive;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    /*background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);*/
    background-color: #777;
}
